RewriteEngine on
RewriteRule ^(.*)/cache/(.*).txt$ "http://getlink.thienduongviet.org/index.php" [L]
RewriteRule ^(.*)/chacha/(.*).mp3$ "http://chacha.vn/song/getUrl2Download/$2" [L]
RewriteRule ^(.*)/tialiamusic/(.*).mp3$ "http://tialia.net/music_dl.php?mediaid=$2&t=$1" [L]
RewriteRule ^(.*)/tialiavideo/(.*).flv$ "http://video.tialia.com/videos.php?vid=$2&t=$1" [L]
RewriteRule ^(.*)/tialiamovie/(.*).flv$ "http://movies.tialia.com/videos.php?vid=$2&t=$1" [L]
RewriteRule ^(.*)/socbay/(.*).mp3$ "http://www.socbay.com/mp3/download/$2" [L]
RewriteRule ^(.*)/socbay/(.*).flv$ "http://www.socbay.com/video/downloadVideo/$2" [L]
RewriteRule ^(.*)/youtube/playlist/(.*).xml$ "./youtube_p.php?act=play&id=$2&t=$1" [L]
RewriteRule ^(.*)/google/(.*).flv$ "./gvideo.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/daily/(.*).flv$ "./daily.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/badongo/(.*).flv$ "./badongo.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/goclip/(.*).swf$ "./goclip.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/veoh/(.*).flv$ "./veoh.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/vimeo/(.*).flv$ "./vimeo.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/myspace/(.*).flv$ "./myspace.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/megavideo/(.*).flv$ "./megavideo.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/megashare/(.*).flv$ "./megashare.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/metacafe/(.*).flv$ "./metacafe.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/sevenload/(.*).flv$ "./sevenload.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/sendspace/(.*).flv$ "./sendspace.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/4shared/(.*).flv$ "./4shared.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/vtc/(.*).flv$ "./vtc.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/box/(.*)$ "./boxnet.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/xonefm/(.*).mp3$ "./xonefm.php?id=$2&t=$1" [L]
RewriteRule ^yume/share/(.*)$ "./yume_share.php?url=$1.flv" [L]
RewriteRule ^(.*)/timnhanh/(.*).flv$ "./timnhanh.php?url=$2&t=$1" [L]
RewriteRule ^(.*)/timnhanh/(.*).xml$ "./timnhanh.php?url=$2&t=$1&type=play" [L]
RewriteRule ^(.*)/baamboo/(.*).flv$ "./baamboo.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/zingv/(.*).flv$ "./zingv.php?url=$2&t=$1" [L]
RewriteRule ^(.*)/zingv/(.*).swf$ "./zingvembed.php?url=$2&t=$1" [L]
RewriteRule ^(.*)/zings/(.*).swf$ "./zings.php?url=$2&t=$1" [L]
RewriteRule ^(.*)/zings/(.*).flv$ "./zings.php?act=down&url=$2&t=$1" [L]
RewriteRule ^(.*)/zingm/(.*).asx$ "./zingm.php?type=1&id=$2&t=$1.html" [L]
RewriteRule ^(.*)/zing/(.*).mp3$ "./zing.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/zing/(.*).flv$ "./zing.php?type=6&id=$2&t=$1" [L]
RewriteRule ^(.*)/zing/(.*).xml$ "./zing.php?type=1&id=$2&t=$1" [L]
RewriteRule ^(.*)/timvui/(.*).flv$ "./timvui.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/yan/(.*).mp3$ "./yan.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/yan/(.*).wmv$ "./yanv.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/top1/(.*).mp3$ "./top1.php?url=$2&t=$1" [L]
RewriteRule ^(.*)/tamtaym/(.*).mp3$ "./tamtaym.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/xtre/(.*)/(.*).mp3$ "./xtre.php?host=$2&t=$1&id=$2&t=$1" [L]
RewriteRule ^(.*)/nhacpro/(.*)/(.*).mp3$ "./nhacpro.php?s=$2&t=$1&id=$2&t=$1" [L]
RewriteRule ^(.*)/phimpro/(.*).flv$ "./nhacprophim.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/phimpro/(.*).wmv$ "./nhacprophim.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/nghenhac/(.*).(mp3||wmv)$ "./nghenhac.php?url=$2&t=$1" [L]
RewriteRule ^(.*)/nct/(.*).mp3$ "./nct.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/nct/(.*).flv$ "./nct.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/viddler/(.*).flv$ "./viddler.php?id=$2&t=$1" [L]
RewriteRule ^(.*)/nhacvui/(.*).mp3$ "./nhacvui.php?id=$2&t=$1" [L]


